body {
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.titleWrap {
  /* オートレイアウト */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 40px;
  gap: 16px;
  position: absolute;
  width: 1551px;
  height: 158px;
  left: 369px;
  top: 872px;
  background: rgba(0, 0, 0, 0.38);
  background-blend-mode: multiply;
  border-width: 4px 0px 0px 0px;
  border-style: solid;
  border-color: #edfaf1;
  /* bgHeader

ゲームタイトル背景色
*/
  background: rgba(0, 0, 0, 0.38);
  background-blend-mode: multiply;
}

.player_display {
  background-color: red;
  width: 1551px;
  height: 872px;
  position: absolute;
  top: 0;
  right: 0;
}

.title {
  width: 1009px;
  height: 126px;

  font-family: "M PLUS 1";
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  line-height: 125%;
  /* または62px */

  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;

  text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.25);

  /* オートレイアウト内部 */

  flex: none;
  order: 0;
  flex-grow: 1;
}

.time > span {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  font-size: 70px;
  line-height: 100%;
  /* ボックスの高さと同一、または70px */

  letter-spacing: 0.005em;

  width: 360px;
  /* textPrimary */
  color: #363636;

  /* オートレイアウト内部 */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-bottom: 8px;
}

.time {
  background-image: url("../images/single/timeBack.png");

  position: absolute;
  width: 369px;
  height: 158.1px;
  left: 0px;
  top: 872px;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

.time p {
  display: flex;
  text-align: center;
  align-items: center;
  color: #363636;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.time p .mes {
  font-family: "M PLUS 1";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 100%;
  margin-top: 4px;
}

.time p .count {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #363636;
  margin-left: 8px;
}

.category {
  width: 424px;
  font-family: "M PLUS 1";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 26px;
  /* ボックスの高さと同一、または100% */

  display: flex;
  align-items: center;
  flex-direction: column;

  color: #ffffff;
}

.categoryDetail {
  margin-bottom: 15px;
}

.discordBox {
  box-sizing: border-box;

  /* オートレイアウト */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 32px 24px;
  gap: 10px;

  position: absolute;
  width: 369px;
  height: 539px;
  left: 0px;
  top: 333px;

  /* mdrfPrimaryThin

枠線色
*/
  border-width: 4px 4px 0px 0px;
  border-style: solid;
  border-color: #edfaf1;
}
