body {
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
  position: absolute;
  width: 330px;
  height: 345px;
  left: 0px;
  top: 0px;
}

.titleWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
  gap: 16px;

  position: absolute;
  width: 631px;
  height: 345px;
  left: 487px;
  top: 0px;

  /* bgHeader
  
  ゲームタイトル背景色
  */
  background: rgba(0, 0, 0, 0.38);
  background-blend-mode: multiply;
  /* mdrfPrimaryThin
  
  枠線色
  */
  border-width: 0px 4px;
  border-style: solid;
  border-color: #edfaf1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.titleWrap img {
  margin: 0px 16px;
}

.title {
  width: 575px;
  height: 130px;

  font-family: "M PLUS 1";
  font-style: normal;
  font-weight: 900;
  font-size: 52px;
  line-height: 125%;
  /* または65px */

  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;

  text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.25);

  /* オートレイアウト内部 */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.time > span {
  width: 262px;
  height: 80px;

  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  font-size: 80px;
  line-height: 100%;
  /* ボックスの高さと同一、または80px */

  display: flex;
  align-items: flex-end;
  text-align: center;
  letter-spacing: 0.005em;

  /* textPrimary */

  color: #363636;

  /* オートレイアウト内部 */

  flex: none;
  order: 0;
  flex-grow: 0;

  display: block;
  padding-right: 50px;
  border-right: 2px dashed #ffffff;
}

.time {
  background-image: url("../images/triple4x3flat/timeBack.png");
  background-size: cover;
  position: absolute;
  width: 631px;
  height: 172px;
  left: 487px;
  top: 345px;

  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-bottom: solid 4px #edfaf1;
}

.time p {
  width: 194.53px;
  height: 93.18px;

  font-family: "M PLUS 1";
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 125%;
  /* または38px */

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  /* textPrimary */

  color: #363636;

  /* オートレイアウト内部 */

  flex: none;
  order: 2;
  flex-grow: 0;
}

.time p .mes {
  font-family: "M PLUS 1";
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 125%;
}

.time p .count {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 125%;
  /* または50px */

  display: flex;
  align-items: center;
  text-align: center;

  /* textPrimary */

  color: #363636;

  /* オートレイアウト内部 */

  flex: none;
  order: 2;
  flex-grow: 0;
}

.category {
  font-family: "M PLUS 1";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 26px;
  /* ボックスの高さと同一、または100% */

  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;

  /* オートレイアウト内部 */

  flex: none;
  order: 0;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
}

.categoryDetail {
  margin-bottom: 15px;
}

.discordBox {
  position: absolute;
  width: 330px;
  height: 687px;
  left: 0px;
  top: 345px;

  border-width: 4px 4px 0px 0px;
  border-style: solid;
  border-color: #edfaf1;
}

.discordBox_underLine {
  position: absolute;
  width: 325.64px;
  height: 38px;
  left: 0px;
  top: 984px;
  display: block;
  background: url(../images/triple4x3flat/underDiscord.png);
  content: "";
  background-size: cover;
}

.player_name {
  /* Block/走者表示PUP16×9 */

  box-sizing: border-box;

  /* オートレイアウト */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px 12px 8px 8px;
  border-top: 6px solid #2b5f3b;
  border-left: 16px solid #2b5f3b;
  gap: 10px;

  width: 623px;
  height: 46px;

  /* mdrfPrimary */

  background: #71b988;

  /* オートレイアウト内部 */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;

  font-family: "M PLUS 1";
  font-style: normal;
  font-weight: 900;
  font-size: 28px;
  line-height: 41px;
  /* ボックスの高さと同一 */

  display: flex;

  color: #ffffff;
}

.clear .player_name {
  border-top: 6px solid #f5d426;
  border-left: 16px solid #f5d426;
}

.player1 .player_name:after,
.player2 .player_name:after,
.player3 .player_name:after {
  display: block;
  height: 4px;
  position: absolute;
  width: 100%;
  content: "";
  background-color: #edfaf1;
  bottom: -4px;
  left: 0;
}

.player1 .player_time,
.player2 .player_time,
.player3 .player_time {
  opacity: 0;
  transition: 0.4s;
  display: flex;
  align-items: center;
  position: absolute;
  right: 12px;
  bottom: 0px;

  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 47px;
  text-align: right;

  /* textFinish */

  color: #ffe142;
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2), 0px 0px 10px rgba(0, 0, 0, 0.3);

  /* オートレイアウト内部 */

  flex: none;
  order: 1;
  flex-grow: 0;

  color: #ffe142;
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2), 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.player_time img {
  width: 36px;
  height: 36px;
  margin-right: 3px;
}

.player1.clear .player_time,
.player2.clear .player_time,
.player3.clear .player_time {
  opacity: 1;
}

.player_display {
  width: 623px;
  height: 467px;
  background-color: red;
}

.player1 {
  /* オートレイアウト */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  isolation: isolate;

  position: absolute;
  width: 631px;
  height: 513px;
  left: 487px;
  top: 517px;

  border-width: 0px 4px 0px 4px;
  border-style: solid;
  border-color: #edfaf1;
}

.player2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  isolation: isolate;

  position: absolute;
  width: 627px;
  height: 517px;
  left: 1118px;
  top: 0;

  border-width: 0px 4px 4px 0px;
  border-style: solid;
  border-color: #edfaf1;
}

.player3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  isolation: isolate;

  position: absolute;
  width: 627px;
  height: 517px;
  left: 1118px;
  top: 517px;

  border-width: 0px 4px 4px 0px;
  border-style: solid;
  border-color: #edfaf1;
}
