body {
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
  position: absolute;
  width: 370px;
  height: 345px;
  left: 0px;
  top: 0px;
}

.titleWrap {
  /* Frame 19 */

  /* オートレイアウト */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 40px;
  gap: 16px;

  position: absolute;
  width: 1550px;
  height: 156px;
  left: 370px;
  top: 0px;

  /* bgHeader
  
  ゲームタイトル背景色
  */
  background: rgba(0, 0, 0, 0.38);
  background-blend-mode: multiply;
  /* mdrfPrimaryThin
  
  枠線色
  */
  border-bottom: 4px solid #edfaf1;
}

.title {
  width: 1008px;
  height: 63px;

  font-family: "M PLUS 1";
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  line-height: 125%;
  /* ボックスの高さと同一、または62px */

  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;

  text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.25);

  /* オートレイアウト内部 */

  flex: none;
  order: 0;
  flex-grow: 1;
}

.time > span {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  font-size: 70px;
  line-height: 100%;
  /* ボックスの高さと同一、または70px */

  letter-spacing: 0.005em;

  width: 360px;
  /* textPrimary */
  color: #363636;

  /* オートレイアウト内部 */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-bottom: 8px;
}

.time {
  background-image: url("../images/triple4x3/timeBack.png");

  position: absolute;
  width: 366px;
  height: 160px;
  left: 0px;
  top: 345px;

  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  border-bottom: solid 4px #edfaf1;
}

.time p {
  display: flex;
  text-align: center;
  align-items: center;
  color: #363636;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.time p .mes {
  font-family: "M PLUS 1";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 100%;
  margin-top: 4px;
}

.time p .count {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #363636;
  margin-left: 8px;
}

.category {
  width: 424px;
  font-family: "M PLUS 1";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 26px;
  /* ボックスの高さと同一、または100% */

  display: flex;
  align-items: center;
  flex-direction: column;

  color: #ffffff;
}

.categoryDetail {
  margin-bottom: 15px;
}

.discordBox {
  width: 370px;
  height: 927px;
  left: 0px;
  top: 310px;
  position: absolute;
  border-right: 4px solid #edfaf1;
}

.discordBox_underLine {
  position: absolute;
  width: 364.95px;
  height: 39px;
  left: 0.26px;
  top: 985px;
  display: block;
  background: url(../images/triple4x3/underDiscord.png);
  content: "";
  background-size: cover;
}

.player_name {
  /* Block/走者表示PUP16×9 */

  box-sizing: border-box;

  /* オートレイアウト */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px 12px 8px 8px;
  border-top: 6px solid #2b5f3b;
  border-left: 16px solid #2b5f3b;
  gap: 10px;

  width: 467px;
  height: 85px;

  /* mdrfPrimary */

  background: #71b988;

  /* オートレイアウト内部 */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;

  font-family: "M PLUS 1";
  font-style: normal;
  font-weight: 900;
  font-size: 28px;
  line-height: 41px;
  /* ボックスの高さと同一 */

  display: flex;

  color: #ffffff;
}

.clear .player_name {
  border-top: 6px solid #f5d426;
  border-left: 16px solid #f5d426;
}

.player2 .player_name:after,
.player3 .player_name:after {
  display: block;
  height: 4px;
  position: absolute;
  width: 100%;
  content: "";
  background-color: #edfaf1;
  bottom: -4px;
  left: 0;
}

.player1 .player_time,
.player2 .player_time,
.player3 .player_time {
  opacity: 0;
  transition: 0.4s;
  display: flex;
  align-items: center;
  position: absolute;
  right: 12px;
  bottom: 6px;

  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 41px;

  color: #ffe142;
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2), 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.player1 .player_time {
  right: 15.6px;
  bottom: 6.5px;

  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 47px;
  text-align: right;

  /* textFinish */

  color: #ffe142;
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2), 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.player1 .player_time img {
  width: 36px;
  height: 36px;
  margin-right: 4px;
}

.player_time img {
  width: 32px;
  height: 32px;
  margin-right: 3px;
}

.player1.clear .player_time,
.player2.clear .player_time,
.player3.clear .player_time {
  opacity: 1;
}

.player_display {
  width: 467px;
  height: 350px;
  background-color: red;
}

.player2 {
  top: 156px;
  right: 0;
  position: absolute;
}

.player3 {
  top: 595px;
  right: 0;
  position: absolute;
  border-bottom: 4px solid #edfaf1;
}

.player1 {
  position: absolute;
  width: 1083px;
  height: 878px;
  left: 370px;
  top: 153px;

  /* mdrfPrimaryThin
    
    枠線色
    */
  border-width: 4px 4px 0px 0px;
  border-style: solid;
  border-color: #edfaf1;
}

.player1 .player_display {
  background-color: red;
  position: absolute;
  width: 1079px;
  height: 809px;
}

.player1 .player_name {
  position: absolute;
  width: 1080px;
  height: 64.78px;
  left: 0px;
  bottom: 0;
  line-height: 1.8;
}

.bgmOn {
  height: 50px;
}

.player2 .bgmOn,
.player3 .bgmOn {
  position: absolute;
  left: 25px;
  bottom: 0px;
}
